[supervisord]
logfile=/var/log/supervisord/supervisord.log ;
logfile_maxbytes=5MB ;
logfile_backups=2 ;
loglevel=info ; (log level;default info; others: debug,warn,trace)
pidfile=/var/run/supervisord.pid ;
nodaemon=false ;
minfds=1024 ;
minprocs=200 ;

[inet_http_server]
port = 127.0.0.1:9001

[supervisorctl]
serverurl = http://127.0.0.1:9001

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[include]
files=/etc/supervisord/

[program:serf]
command=/usr/bin/serf agent -config-file=/etc/serf/serf.conf
redirect_stderr=true
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisord/serf_info
stderr_logfile=/var/log/supervisord/serf_error
